<ul>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'About', about_path %></li>
	<li><%= link_to 'Math', math_path %></li>
</ul>

<!-- the partial's name has to be start at '_' (under line)
	if the render page didn't specify the parent dir, it will find the partail in the controller which the view belongs to -->
