
/* = require more */

/* the comment line up there has meaning!! it include more.css file into html, too!!*/
body{
	color: blue;
	font-weight: bolder;
}

li.class_name > a{
	color:red;
	font-size: 1.5em;
}