<ul>
	<li>版型練習1</li>
	<li>版型練習2</li>
	<li>版型練習3</li>
</ul>

<!-- the partial's name has to be start at '_' (under line)
	if the render page didn't specify the parent dir, it will find the partail in the controller which the view belongs to -->
